@charset "utf-8";
/* CSS Document */
body {
	margin:0px;
	padding:0px;
	overflow:auto;
}

#input {
	
	:0px;
	opacity:0;
	margin:0px 3px 0px 3px;

}

.upper {
	text-transform: uppercase;
}

.Menu-container {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	text-align: center;
	position: relative;
	max-width: 1003px;
}

#btn {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
	height:18px;
	width:25px;
	background-color:transparent;
	border:none;
	vertical-align:middle;
}
#bestweb{
	position: fixed; 
	width:auto; 
	margin-left:86%; 
	margin-top:50px; 
	text-align:right; 
	z-index:9999
}
@media (max-width: 768px) {
	#bestweb{
	margin-left:60%; 
	}
}


.last {
	padding-top:6px !important;
	height: 34px;
	/*padding-bottom:4px !important;*/
	margin-left:-4px !important;
}

.adjust{
	width: 97%;
	  margin: auto;
	  position: relative;
}


.map {
	display:block;
	position:relative;
	width:97%;
	height:320px;
	margin:-61px auto;
}

.container {
	width:100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	text-align:center;
	position:relative;
	max-width:1400px;
}

.box {
	display:block;
	width:30%;
	margin-top:96px;
	margin-right:20px;
	margin-left:20px;
	float:left;
	text-align:center;
	height:435px;
	background-color:#FAFAFA;
	margin-bottom: 10px;
}

.address {
	text-align:center;
	line-height:1.5;
	font-family:inherit;
	font-weight:100;
	margin:13px auto;
	color:#7B6565;
	font-size:17px;
}

.head {
	text-align:justify;
	margin: 0px auto;
	padding-top: 0px;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	font-family:inherit;
	text-align: left;
	width: 97%;
	height: 300px;
	
}

.copyright>a{
	color:#173869;
}

.col1 {
	display:block;
	float:left;
	width:15%;
	height:81.5%;
	text-align:center;
	background-color:#FAFAFA;
	position:fixed;
	bottom:0px;
}

.col2 {
	display:block;
	float:right;
	width:85%;
	height:100%;
	text-align:center;
	background-color:white;
	position:relative;
	margin-top:3px;
}

.product {
	width:30%;
	height:140px;
	display:inline-block;
	/*float:left;*/
	margin:15px 10px;
	background-color:#ECECEC;
	text-align:left;
	position:relative;
}

.product-inner {

	width:30%;
	height:169px;
	display:inline-block;
	/*float:left;*/
	margin:20px 10px;
	background-color:#ECECEC;
	text-align:left;
	position:relative;
}

.product-inner:hover {
	box-shadow: 0px 2px 25px rgba(50,50,50,.5);
}

.product:hover {
	box-shadow:0px 2px 25px rgba(50,50,50,.5);
}

.catalogue {
	list-style:none;
	text-align:left;
	line-height:2.5;
	font-size:14px;
}

.mainCatagory {
	display: block;
	text-decoration: none;
	color: #8C8CE4;
	font-family: inherit;
	margin: 0px auto;
	padding: 2px;
	font-size: 16px;
	font-weight: 100;
}

.mainCatagory:hover {
	color:#002;
}

.subCatagory {
	display:block;
	text-decoration:none;
	color: #8C8CE4;
	font-family:inherit;
	margin:1px auto;
	padding:2px;
	font-size:12px;
}

.subCatagory:hover {
	color:#002;
}

.range {
	font-family:inherit;
	font-weight:100;
	font-size:28px;
	text-align:left;
	margin-left:43px;
	margin-top:82px;
	color:#7A7A7A;
}

.pagin{
	display:inline-block;
	width:32px;
	height:20px;
	color:#999;
	text-decoration:none;
	text-align:center;
}
.pagin:hover {
	background-color:#999;
	color:white;
}

.broom {
	width:219px;
	height:auto;
	vertical-align:bottom;
	text-align:left;
}

.inner-broom {
	width:242px;
	height:auto;
	vertical-align:bottom;
	text-align:left;
}

.des {
	width:36%;
	padding:8px;
	text-align:left;
	font-size:14px;
	color:#999;
	display:block;
	float:right;
	position:absolute;
	top:0px;
	right:0px;
}

.blue {
	display:block;
	position:absolute;
	bottom:0px;
	width:100%;
	height:32px;
	background-color:rgba(10, 47, 115, 0.59);
	text-align:center;
	color:white;
	line-height:2;
	font-size:15px;
}


	

.ab {
	margin-top: 117px;
	margin-left: 43px;
	position: absolute;
	width: 43%;
	text-align: justify;
	color: white;
	text-shadow: rgb(69, 69, 119) 1px 1px 3px;
}


.descript {
	display:block;
	width:100%;
	padding:5px;
	text-align:justify;
	font-size:17px;
	font-family:inherit;
	line-height:1.5;
	margin:10px auto;
	font-weight: 100;
}

.beira {
	font-weight:100;
	font-size:28px;
	text-align:left;
	margin-left:10px;
	color:rgb(34, 95, 166);
	font-family:inherit;
	margin-top:5px;
}

.btn {
	display:block;
	width:155px;
	height:30px;
	text-align:center;
	margin-left:0px;
	margin-top:10px;
	text-decoration:none;
	color:white;
	background-color:rgba(10, 47, 115, 0.8);
	line-height:1.5;
	font-family:inherit;
	font-size:19px;
	font-weight: 100;
}

.btn:hover {
	background-color:rgba(10, 47, 115, 0.80);
	box-shadow: rgba(0,0,0, 1) 0px 0px 0px 2px;
}

.Chead {
	font-family: inherit;
	font-weight: 100;
	font-size: 28px;
	margin: 10px auto 20px;
	color:rgb(34, 95, 166);
}

.Shead {
	font-weight: 100;
	font-family: inherit;
	text-align: Center;
	margin: 10px auto;
	color:#333;
	font-size:22px;
}

.input {
	display:block;
	width:300px;
	padding:9px;
	margin:13px auto;
	border:none;
	background-color:rgb(232, 234, 236);
	color:rgb(87, 150, 213);
}

.placeholder-fix:focus::-webkit-input-placeholder  {color:transparent;}
.placeholder-fix:focus::-moz-placeholder   {color:transparent;}
.placeholder-fix:-moz-placeholder   {color:transparent;}

.hv:hover {
	background-color:rgb(192, 198, 204);
}

.holder {
	margin-top:80px;
}

.footer {
	display:inline-block;
	text-align:center;
	margin:10px 2px;
	text-decoration:none;
	color:#999;
	font-family:inherit;
	font-size:11px;
}

.foot {
	padding:10px;
	border-top:solid 1px #ccc;
	width:100%;
	text-align:center;
	margin: auto;
	display:block;
	position:relative;
	bottom:0px;
	clear:both;
}

.about {
	margin-top:46px !important;
}

.inner-h1 {
	color:rgb(34, 95, 166);
	font-family:inherit;
	font-weight:100;
	font-size:28px;
	margin:10px 30px;
}


.inner-small-despript {
	display:block;
	margin:inherit;
	color:#333;
	line-height:1.5;
	font-weight:100;
	font-family:inherit;
	text-align:justify;
	font-size:17px;
	margin:10px 30px 20px;
}

.email {
	text-decoration: none;
	color:rgb(54, 131, 199);
}

.qbox {
	margin-left:4%;
	float:left;
	max-width:45%;
	padding:20px;
	height:100%
}

.slide {
	width:400px;
	height:auto;
	margin:auto;
	text-align:center;
}

.content {
	display:block;
	width:81% !important;
	position:relative;
	padding:5px;
	text-align:justify;
	font-size:17px;
	font-family:inherit;
	line-height:2;
	margin:10px auto;
	height:320px;
	overflow:hidden;
	color:#333;
	font-weight:100;
}

.fixer {
	width:32%;
	display:inline-block;
	height:100%;
	margin:2px;
}

.m {
	width:44% !important;
}

.new-sub{
	display:block;
	position:fixed;
	text-align:center;
	width:15%;
	background-color:#fff;
	margin:0px auto 10px;
	top: 113px;
	left: 15px;
	z-index: 3;
}

.prod {
	font-family:inherit;
	display:block;
	width:100%;
	height:29px;
	margin: 0px 0px 0px 0px;
	text-decoration:none;
	
	vertical-align:bottom;
	/*border-right:solid 1px #ccc;
	border-top:solid 1px #ccc;*/
	/*border-bottom:solid 1px #ccc;*/
	line-height:1.5;
	text-align:left;
	padding:1px 5px 0px 30px;
	font-size:18px;
	color:rgb(98, 98, 98);
	transition:All 0.5s linear;
-webkit-transition:All 0.5s linear;
-moz-transition:All 0.5s linear;
-o-transition:All 0.1s linear;
font-weight:100;
background-color:#f2f2f2;

}
.prod:hover {
	transform: rotate(0deg) scale(1.021)  ;
-webkit-transform: rotate(0deg) scale(1.021) ;
-moz-transform: rotate(0deg) scale(1.021)  ;
-o-transform: rotate(0deg) scale(1.021)  ;
-ms-transform: rotate(0deg) scale(1.021)  ;
box-shadow:0px 0px 20px -4px rgba(0,0,0,0.5);
/* background-color:#fafafa; */
}

.prod-active {
	transform: rotate(0deg) scale(1.021)  ;
-webkit-transform: rotate(0deg) scale(1.021)  ;
-moz-transform: rotate(0deg) scale(1.021)  ;
-o-transform: rotate(0deg) scale(1.021)  ;
-ms-transform: rotate(0deg) scale(1.021)  ;
box-shadow:0px 0px 20px -4px rgba(0,0,0,0.5);
background-color:rgb(93, 121, 172);
color: white;
}

.Pslide {
	display:inline-block;
	position:relative;
	margin:10px;
	width:455px;

}

.shukriya {

margin-left: auto !important;
margin-right: auto !important;

height: 25px !important;
margin-top: 1px !important;
line-height: 1.2 !important;
width: 100%;

}


.row {
	max-width:70%;

	text-align:center;
	clear:both;
	background-color:#fafafa;
	height:290px;
	margin:20px auto;
	transition:All 0.9263s linear;
-webkit-transition:All 0.9263s linear;
-moz-transition:All 0.9263s linear;
-o-transition:All 0.9263s linear;
position:relative;
background-color:#f2f2f2;

}


.row-in {
	max-width:70%;
	text-align:center;
	background-color:#fafafa;
	margin:20px auto;
	transition:All 0.9263s linear;
-webkit-transition:All 0.9263s linear;
-moz-transition:All 0.9263s linear;
-o-transition:All 0.9263s linear;
position:relative;
background-color:#f2f2f2;

}



.first {
	  float: left;
	  width: 467px;
	  height: 552px;
	  display: inline-block;
}

.second {
	float:right;
	height:256px;
	width:61%;
}

.aravindRox {
	width:359px !important;
}

.row:hover {
	transform: rotate(0deg) scale(1.021)  translate(3px);
-webkit-transform: rotate(0deg) scale(1.021)  translate(3px);
-moz-transform: rotate(0deg) scale(1.021)  translate(3px);
-o-transform: rotate(0deg) scale(1.021)  translate(3px);
-ms-transform: rotate(0deg) scale(1.021)  translate(3px);
box-shadow:0px 0px 20px -4px rgba(0,0,0,0.5);
background-color:#fafafa;
}

.row-in:hover {
	transform: rotate(0deg) scale(1.021)  translate(3px);
-webkit-transform: rotate(0deg) scale(1.021)  translate(3px);
-moz-transform: rotate(0deg) scale(1.021)  translate(3px);
-o-transform: rotate(0deg) scale(1.021)  translate(3px);
-ms-transform: rotate(0deg) scale(1.021)  translate(3px);
box-shadow:0px 0px 20px -4px rgba(0,0,0,0.5);
background-color:#fafafa;
}

.cap {
	//font-size: 44px;
	font-size: 35px;
	font-weight: 100;
	font-family: inherit;
	background-color: #;
	color: rgb(103, 103, 103);
	padding: 20px;
	line-height: 0.8;
	width: 262px;
	height: 80px;
	text-align: center;
	border: 2px solid #999;
	border-radius: 6px;
	margin-top:71px;
}

.cap-inner {
	font-size: 31px;
	font-weight: 100;
	font-family: inherit;
	background-color: #;
	color: rgb(103, 103, 103);
	padding: 20px;
	line-height: 1;
	width: 420px;

	text-align:left;

	border-radius: 6px;
	margin-top:71px;
}


.shoot {
	position: absolute;
	display: block;
	/*text-transform:lowercase;*/
	bottom: 71px;
	color:rgb(103,103,103);
	font-family:inherit;
	font-size:20px;
	width:382px;
	font-weight:100;

}



.e {
	left:30px;
	text-align:left;
}

.o {
	right:30px;
	text-align:right;
}

.type {
	font-family: inherit;
	font-size: 47px;
	padding: 5px 20px 0px 0px;
	display: inline-block;
	border-right: 1px solid #999;

	text-align: right;
	margin: 0px auto;
	font-weight: 100;
	color:rgb(103,103,103);
}

.type-inner {
	font-family: inherit;
	font-size: 47px;
	padding: 5px 0;
	display: block;
	border: 2px solid #999;
	border-radius: 3px;
	text-align: center;
	margin: 20px auto;
	font-weight: 100;
	color:rgb(103,103,103);
	width:262px;
	line-height:1;
}

.dick {
	font-family: inherit;
	display: inline-block;
	margin:0px auto;

	text-align: justify;
	font-weight: 100;
	line-height: 1;
	padding: 15px 0px 0px 20px;
	vertical-align: top;
	color:rgb(103,103,103);
}


.odd {
	float:left;
	margin-left:10px;

}

.even {
	float:right;
	margin-right:10px;

}

.pro {
	width:420px;
	margin-top:5px;

}

.back {
	display:block;
	position:relative;
	left:10px;
	top:10px;
	text-decoration:none;
	font-weight:100;
	font-size:24px;
	font-family: inherit;
	margin:10px auto;
	width:200px;
}

.l {
	margin-right:100px !important;
}

.r {
	margin-left:100px !important;
}

.dumith {
	width: 85% !important; position: relative; float: none !important; margin-top: 60px !important; display:block !important; 
}

.anupama {
	display: none !important;
}

.menu-wrap {
	position: relative;
	width: 97%;
	margin: 0 auto;
}

.width-fix {

	max-width: 1188px !important;
	
}

.search-boxx {
	width: 100%;
	height: 10vh;
	padding: 2px;
}

.new-search {
	display: inline-block;
	width: 62%;
	margin-right: 3%;
	height: 38px;
	padding-left:5px; 
}

.new-go {
	background: transparent;
	border: 1px solid #999;
	height: 36px;
	width: 8%;
	transition: All 0.2s linear;
	-webkit-transition: All 0.2s linear;
	-moz-transition: All 0.2s linear;
	-o-transition: All 0.2s linear;
}

.new-go:hover {
	background-color: rgb(159, 159, 159);
	box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.1);
	color: white;

}

.magnify {
	width:67%;
}

.sitemap {
	line-height:1.5;
	font-family:inherit;
	font-weight:100;
	margin:13px auto;
	color:#7B6565;
	font-size:17px;
	text-align: justify;
}

.sitemap>li{
	display: inline-block;
	border: 2px solid #BBB;
	padding: 4px 10px;
	width: 202px;
	
	margin: 5px 10px;
	border-radius: 3px;
	vertical-align: text-top;
	text-align: left;
	
}


.sitemap>li>a{
	color: #777;
	font-family: inherit;
	font-weight: 700;
	
}

.sitemap>li>ul>li>a{
	color: #666;
	font-family: inherit;

}

.sitemap>li>a:hover{
	border-bottom: 1px dotted #333;
}

.sitemap>li>ul>li>a:hover{
	border-bottom: 1px dotted #333;
}

.hack {
	font-size:28px !important;
}

.my_popup_close{
	  display: block;
	  position: absolute;
	  width: 48px;
	  height: 48px;
	  border-radius: 3px;
	  border: 3px solid #FFFFFF;
	  background-color: rgb(48, 48, 48);
	  font-size: 19px;
	  color: white;
	  top: -28px;
	  right: -28px;
	  border-radius: 50%;
}


@media (max-width: 1480px) {

	.header {

 	 height: 510px;
	}
	
	.l {
		margin-right:10px !important;
	}
	
	.r {
		margin-left:10px !important;
	}
	
	.prod {
		font-size:16px;
		height: 31px;
	}
	
	.shoot {
		width:330px;
	}

	.dumith {
		margin-left: 150px;
	}

	

}

@media (max-width: 1370px) {

	.dumith {
		margin-left: 170px;
	}

	.prod {
		height: 26px;
		line-height: 1.5;
	}

	.inner-broom {
		width:217px;
	}

	.product {
		height:127px;
	}

	.broom {
		width:198px;
	}

	.m {
		width:45% !important
	}

	.product-inner {
		height:154px;
	}

	.des {
		width:32%;
	}

	.range {
		margin-top:104px;
	}

	.mainCatagory {
		font-size:14px;
	}
	
	.l {
		margin-right:0px !important;
	}
	
	.r {
		margin-left:0px !important;
	}
	
	.row {
		max-width:80%;
	}
}
@media (max-width: 1280px){
	.type{
		display: block;
		text-align: center;
		border: none;
		padding: 0;
	}

	.dick{
		display: block;
		text-align: center;
		padding-right: 10px;
		padding-left: 10px;
	}

	.prod{
		padding-left: 24px;
	}
}

@media (max-width: 1240px) {

	.dumith{
		margin-left: 188px;
	}

	.new-sub {
		width: 16%;
	}

	.prod {
		height: 25px;
		line-height: 1.5;
	}

	.type {
		font-size: 43px;
	}



}

@media (max-width: 1170px) {

	body {
		overflow-y:scroll;
		overflow-style: marquee-line;
	}

	.col1 {
		position:relative;
		float:none;
		width:100%
	}

	.col2 {
		width:100%;
	}

	.catalogue {
		text-align:center;
		margin-left:-40px;
	}

	.sub {
		margin-left:-39;
		list-style:none;
	}

	.ellai {
		border-bottom:dotted thin #999;
	}

	.range {
		
		margin-left:20px;
		text-align:left;
	}
	
	.ab {
		font-size:21px !important;
		width:95%;
	}

	.mainCatagory {
		font-size:16px;
	}

	.pagin {
		margin:10px auto;
	}

	.des {
		font-size:13px;
	}

	.inner-broom {
		width:200px;
	}

	.broom {
		width:180px;
	}
	.m {
		width:39%;
	}

	.product {
		width:39%
	}
	.product-inner {
		width:40%;
	}
	
	.box {
	
		width: 80%;
		margin-top: 96px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 10px;  
		float: none;
		background-color: #FAFAFA;
	}
	
	.l {
		margin-right:0px !important;
	}
	
	.r {
		margin-left:0px !important;
	}
	.new-sub {
		display: none !important;
	}

	.anupama {
		display: block !important;
		position: fixed;
		top: 60px;
		width: 100%;
		text-align: center;
		z-index: 999;
		left: 10px;
		font-family: inherit;
		font-size: 19px;
		border-color: rgba(10, 47, 115, 0.59);
		background-color: white;
		padding: 15px 0;

	}

	.kusal {
		width: 40%;
		height: 30px;
	}

	.Pslide {
		width: 300px;
	}
	
	.dumith {
		width:100% !important;
		margin: 140px auto !important;
	}
	.row {
		max-width:90%;
	}
	
	.qbox {
		max-width:95%;
	}
}

@media (max-width: 991px){
	
	.shadow {
		width:100%;
	}
	
	.catagory {
		width: 100%;
		margin-bottom: auto;
	}
	
	.fixer {
		width: 59%;
		margin:10px auto;
	}

	.w-nav {
		height: auto !important;
	}

	.magnify{
		width: 4%;
	}

	.new-go{
		width: 70px;
	}
	
	
}

@media (max-width: 720px) {
	.product-inner {
		float:none;
		display:block;
		margin:10px auto;
		text-align:left;
		width:80%
	}

	.product {
		width:70%;
	}
	
	.head {
		background-size:cover !important;
		}

	.cap {
		font-size: 26px;
		width: 156px;
		line-height: 1;
	}

	.Pslide {
		width: 238px;
	}
}

@media (max-width: 500px) {
	.row {
		max-width: 100%;
	}

	.Pslide {
		width: 177px;
	}

	.cap {
		width:132px;
	}

	.fixer {
		width: 98%;
		
	}

}