body {

  font-family:inherit;

  color: #333;

  font-size: 14px;

  line-height: 20px;

  overflow:hidden;

}

h1 {

  margin-top: 20px;

  margin-bottom: 10px;

  font-size: 38px;

  line-height: 44px;

  font-weight: 700;

}

h2 {

  margin-top: 20px;

  margin-bottom: 10px;

  font-size: 32px;

  line-height: 36px;

  font-weight: 700;

}

h3 {

  margin-top: 20px;

  margin-bottom: 10px;

  font-size: 24px;

  line-height: 30px;

  font-weight: 700;

}

h4 {

  margin-top: 10px;

  margin-bottom: 10px;

  font-size: 18px;

  line-height: 24px;

  font-weight: 700;

}

h5 {

  margin-top: 10px;

  margin-bottom: 10px;

  font-size: 14px;

  line-height: 20px;

  font-weight: 700;

}

h6 {

  margin-top: 10px;

  margin-bottom: 10px;

  font-size: 12px;

  line-height: 18px;

  font-weight: 700;

}

p {

  margin-bottom: 5px;

}

.button {

  display: inline-block;

  padding: 4px 15px;

  background-color: black;

  color: white;

  text-align: center;

  text-decoration: none;

}

.header {

  height: 675px;

  margin: 0px auto;

  padding-top: 0px;

  background-image: url('../images/hero.jpg');

  background-position: center;

  background-size: cover;

  background-repeat: no-repeat;

  font-family: inherit;

  font-size: 17px;

  text-align: left;
  
  width:97%;

  position: relative;

  -ms-behavior: url(../backgroundsize.min.htc);
  behavior: url(../backgroundsize.min.htc);

}

.body {

  background-color: transparent;

  color: transparent;

}

.hero {

  width: 100%;

  margin-right: auto;

  margin-left: auto;

}

.nav-link {

    padding: 9px 26px 6px 27px;
	background-color: transparent;
	font-family: inherit;
	color: white;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;

}

.nav-link:hover {

  background-color:rgba(82, 103, 140, 0.59);

}

.nav-icon {

  height: 34px;

  margin-top: 1px;

  margin-bottom: 1px;

  padding-bottom: 0px;

  background-color: transparent;

  line-height: 23px;

}

.navigation {

  top:10px;

  position:fixed;

  /*right:5%;

  left:5%;*/
  
  z-index:900;
  
  /*width:90%;*/

}

.menu {

  margin-top: 17px;

  margin-right: auto;

  margin-left: auto;

  text-align: center;
  
  background-color:rgba(10, 47, 115, 0.59);
  
  transition: All 0.9263s linear;
-webkit-transition: All 0.9263s linear;
-moz-transition: All 0.9263s linear;
-o-transition: All 0.9263s linear;

}

.logo {

  padding-top: 0px;
  padding-bottom: 3px;
  width: 68%;
  vertical-align: middle;

  padding-top: 0px;

  padding-bottom: 3px;

}

.hero-cap {

  position: static;

  width: 300px;

  margin-top: 80px;

  margin-left: 11px;

  background-color: rgba(250, 247, 247, 0.68);

  color: #138042;

  font-size: 42px;

  line-height: 71px;

}

.catagory {
	
  display:block;

  overflow-x: hidden;

  overflow-y: hidden;

  width: 100%;

  height: 100%;

  margin-top: 2px;

  margin-right: 2px;

  margin-left: 2px;

  float: none;

  text-decoration: none;
  
  position:relative;

}

.copyright {

  margin-top: 0px;

  margin-right: auto;

  margin-left: auto;

  color: #173869;

  text-align: center;

}

.body-container {

  margin-top: 2px;

  margin-right: auto;

  margin-left: auto;

  text-align: center;

}

.cat-title {

  position: absolute;

  /*margin-top: -41px;*/

  padding-top: 10px;

  padding-bottom: 10px;

  background-color: rgba(13,24,71,0.74);

  font-family: inherit;

  color: white;

  font-size: 19px;

  line-height: 23px;

  font-weight: 100;

  text-decoration: none;
  
  bottom:0%;
  
  width:100%;

}

.cat-image {
	width:100%;
}

.shadow {

  position: relative;

  display: block;

  width: 100%;

  margin-top: 0px;

  margin-right: auto;

  margin-left: auto;

  float: none;

  clear: none;

  list-style-type: none;

}

.footerI {
	display:block;
	position:relative;
	margin-top:auto;
	text-align:center;
	z-index:900;
	width:100%;
	bottom:10px;
}

@media (max-width: 1600px) {
	
	.header {
		height:565px;
	}
	
	.anime-txt {
		margin-top:50px;
	}

	
}

@media (max-width: 991px) {

  .header {

    height: 500px;

    background-size: cover;

  }

  .nav-icon {

    width: auto;

  }

  .menu {

    width: auto;

  }

  .logo {

    margin-top: 3px;

  }

  .catagory {

    width: 30%;

	margin-bottom:auto;

  }

  .copyright {

    margin-top: auto;

  }

  .cat-title {

    margin-top: -41px;

  }


  .acoicon {

    background-color: #bfe0da;

  }

  /*.shadow {
    width:100%;
  }
  
  .catagory {
    width: 100%;
    margin-bottom: auto;
  }
  
  .fixer {
    width: 59%;
    margin:10px auto;
    display: block;
  }*/

}

@media (max-width: 767px) {

  .header {

    height: 400px;

  }

  .logo {

    width: 35px;

    height:auto;

    margin-top: 11px;

  }

  .catagory {

    width: 70%;

    margin-top: 6px;

    margin-bottom: 10px;

  }

  .shadow {

    width: 70%;

  }

}

@media (max-width: 479px) {

  .catagory {

    width: 80%;

  }

  .shadow {

    width: 80%;

  }

}



@font-face {

  font-family: 'Existence webfont';

  src: url('../fonts/existence-light-webfont.eot') format('embedded-opentype'), url('../fonts/existence-light-webfont.woff') format('woff');

  font-weight: 200;

  font-style: normal;

}
